.comment {
  position: relative;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
 
}

.comment h4, p {
	margin: 02px;

}

.timestamp {
	color: #777;
	position: absolute;
	right: 20px;
	top: 10px;
}